{% extends "layout.html" %}

{% block title %}Analytics{% endblock %}

{% block main %}
    <div class="container">
        <div class="col-md-12">
            <h1>{{ name }}'s Analytics</h1>
         <!-- Example: Display mood counts and average intensity -->
        <h3>Mood Counts</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Mood</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for mood, count in mood_counts.items() %}
                    <tr>
                        <td>{{ mood }}</td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h3>Average Intensity</h3>
        <p>{{ average_intensity }}</p>

    </div>
{% endblock %}
