{% extends "layout.html" %}

{% block title %}
    Analytics
{% endblock %}

{% block main %}
    <h1>Your Analytics</h1>
    {% if dates %}
        <canvas id="moodChart" width="400" height="200"></canvas>

        <script>
            // Your Chart.js script here
            var ctx = document.getElementById('moodChart').getContext('2d');
            var chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: {{ dates | tojson | safe }},
                    datasets: [{
                        label: 'Mood Trends Over Time',
                        data: {{ daily_moods | tojson | safe }},
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time', // Configure x-axis as time
                            time: {
                                unit: 'day', // Adjust this based on your data density
                            },
                            title: {
                                display: true,
                                text: 'Date',
                            }
                        },
                        y: {
                            min: 1,
                            max: 10
                            title: {
                                display: true,
                                text: 'Mood',
                            }
                        }
                    }
                }
            });
        </script>
    {% else %}
        <p>No Current Data For Moods</p>
    {% endif %}
{% endblock %}
