{% extends "layout.html" %}
<!-- Extends the base layout template -->

{% block title %}
    Home
{% endblock %}
<!-- Defines the title block with the value "Home" -->

{% block main %}
    <!-- Display dashboard content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Welcome to Your Dashboard</h1>
                <p>Hello{{ name }}!</p>
                <p>This is your personalized dashboard.</p>

                <!-- Buttons to redirect to /mood and /analytics -->
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/mood" class="btn btn-primary mx-auto w-auto" role="button">Record Mood</a>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/analytics" class="btn btn-success mx-auto w-auto" role="button">View Analytics</a>
                </div>

                <!-- Display Mood History -->
                <h2>Recorded Moments</h2>
                <ul>
                    {% for entry in moment %}
                        <li>
                            {{ entry.date }} - <br>
                            Description: {{ entry.description }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
<!-- End of the main content block -->
