{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<!-- displays the profile -->
<h1>Profile</h1>
<p>Username: {{ session["user_id"] }}</p>
<p>Name: {{ session["name"] }}</p>

<!--Dispaly the contents of mood.html, analytics.html and dashboard.html-->
{% include "mood.html" %}
{% include "analytics.html" %}
{% include "dashboard.html" %}


{% comment %} <p>Username: {{ session["user_id"] }}</p>
<p>Name: {{ session["name"] }}</p> {% endcomment %}
{% endblock %}