<!-- login.html -->

{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <!-- Login Form -->
    <form action="/login" method="post">
        <!-- Input for username -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <!-- Input for password -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <!-- Button to submit the form -->
        <button class="btn btn-primary btn-block" type="submit">Log In</button>
        <!-- Button to go to register -->
        <div class="mb-3">
            <p>Or <a href="/register">Register Here</a></p>
    </form>
{% endblock %}
