<!-- login.html -->

{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    <!-- Login Form -->
    <form action="/login" method="post">
          <!-- Include CSRF token -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <!-- Input for username -->
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <!-- Input for password -->
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <!-- Button to submit the form -->
        <button class="btn btn-primary btn-block" type="submit">Log In</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
        {% else %}
        <!-- Optional: Provide a message for no flash messages -->
        Sorry for the inconvenience, but we are performing some maintenance at the moment. We'll be back online shortly!
    {% endif %}
    {% endwith %}

{% endblock %}
