<!-- Form to record moments, extends layout.html -->
{% extends "layout.html" %}

{% block title %}
    Record a Moment
{% endblock %}

{% block main %}
    <h1>Record a Moment</h1>
    <p>Enter your moment:</p>
    <form action="/moment" method="post">
        <input type="text" name="date" id="date" required placeholder="Date...">
        <input type="text" name="description" id="description" required placeholder="Description...">
        <button type="submit">Record</button>
    </form>
{% endblock %}


<!-- Path: templates/moments.html -->