
{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
   <!-- This is the registration form -->
<form action="/register" method="post">
    <!-- Username and name input field -->
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="name" placeholder="Name" type="text" required>
    </div>

        <!-- Password and confirm password input field -->
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        <input autocomplete="off" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password" required>
        <p>Password must meet the following requirements:</p>
        <ul>
            <ul>At least 8 characters long</ul>
            <ul>Include a special character</ul>
            <ul>Include a number</ul>
            <ul>Include a capitalized letter</ul>
            <ul>Include a lower-case letter</ul>
        </ul>
        
    </div>
    
    <!-- Email input field -->
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="email" placeholder="Email" type="text" required>
        <p>Email must be a valid email.</p>
    </div>

    <!-- Register button -->
    <button class="btn btn-primary" type="submit">Register</button>

    <!-- Button to go to login -->
    <div class="mb-3">
        <p>Or <a href="/login">Login Here</a></p>
    </div>
</form>
{% endblock %}
